!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Tabelu"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module'
  %body
    %nav.navbar.bg-success
      .container-fluid
        = link_to 'Tabelu', root_path, class: 'navbar-brand fs-2 text-white'
        %ul.nav.me-auto.ms-4.mb-lg-0
          -# %li.nav-item
          -#   = link_to t('carts.show.title'), cart_path, class: 'nav-link fs-4 text-white'
        - if user_signed_in?
          .dropdown
            = button_tag current_user.name, class: 'text-white nav-link dropdown-toggle', data: { 'bs-toggle': 'dropdown' }
            %ul.dropdown-menu.dropdown-menu-end
              %li
                = link_to t('users.meal_plan_subscribe.edit.title'), edit_users_meal_plan_subscribe_path, class: 'dropdown-item'
              %li
                = button_to t('menu.logout'), destroy_user_session_path,
                            method: :delete,
                            class: 'dropdown-item',
                            data: { turbo_confirm: t('menu.logout_confirm') }
        - else
          = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'btn btn-outline-light'
    = render 'layouts/flash_message'
    .container
      = yield
